@font-face {
	font-family: 'iconfont-code-style'; /* Project id 3092056 */
	src: url('./iconfont.woff2?t=1640739609106') format('woff2'), url('./iconfont.woff?t=1640739609106') format('woff'),
		url('./iconfont.ttf?t=1640739609106') format('truetype');
}

.iconfont-code-style {
	font-family: 'iconfont-code-style' !important;
	font-size: 20px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-code-style-error:before {
	content: '\e600';
}

.icon-code-style-success:before {
	content: '\e679';
}
